<h2>단원 선택</h2>
<form action="/main" method="POST">
    단원  : <select name="lesson">
           <option value="1" selected="selected">1. 다항식의 연산</option>
            </select><br/>
    난이도 : <select name="level">
           <option value="1" selected="selected">1. 하</option>
            <option value="2" >2. 중</option>
            <option value="3" >3. 상</option>
            </select><br/>
    문제수 : <select name="questionnum">
           <option value="1" selected="selected">1. 5문제</option>
            <option value="2" >2. 10문제</option>
            <option value="3" >3. 15문제</option>
            <option value="4" >4. 20문제</option>
            </select><br/>
  <input type="submit" value="만들기">
</form>
